<!--
@author [daoNguyen]
@email [daonds@vinorsoft.com ]
@create date 2022-10-11 09:30:53
@modify date 2022-10-19 17:23:39
@desc [description]
-->

<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="/admin/account">
                <img src="../assets/icons/icon-camera.jpg" alt="logo">
                <!-- <h1>Quản lý tín dụng</h1> -->
            </a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" >
                <span nz-icon nzType="dashboard" nzTheme="outline"></span>
                <span><a routerLink="#">Thống kê</a></span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected>
                <span nz-icon nzType="file-image" nzTheme="outline"></span>
                <span><a routerLink="/admin/banners">Banner</a></span>
            </li>

            <li nz-submenu nzTitle="Quản trị chuyên mục" nzIcon="folder" nzTheme="fill">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="#">Danh sách chuyên mục</a>
                    </li>
                    <li nz-menu-item >
                        <a routerLink="#">Thêm mới chuyên mục</a>
                    </li>
                </ul>
            </li>

            <li nz-submenu nzTitle="Quản trị bài viết" nzIcon="book" nzTheme="fill">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="#">Danh sách bài viết</a>
                    </li>
                    <li nz-menu-item >
                        <a routerLink="#">Thêm mới bài viết</a>
                    </li>
                </ul>
            </li>

            <li nz-submenu nzTitle="Quản lý tài khoản" nzIcon="user" nzTheme="fill">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="#">Người dùng</a>
                    </li>
                    <li nz-menu-item >
                        <a routerLink="#">Nhóm người dùng</a>
                    </li>
                    <li nz-menu-item >
                        <a routerLink="#">Quyền hệ thống</a>
                    </li>
                </ul>
            </li>

            <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
                <span nz-icon nzType="setting" nzTheme="outline"></span>
                <span><a routerLink="#">Cài đặt</a></span>
            </li>

           

            
            <!-- <li nz-submenu nzOpen nzTitle="Thông tin hệ thống" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/welcome">Hoạt động hệ thống</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Hệ thống" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a>Cài đặt</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a (click)="logout()">Đăng xuất</a>
                    </li>
                </ul>
            </li>

            <li nz-submenu nzTitle="Tạo tác vụ" nzIcon="reconciliation">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/system-tasks">Công chứng</a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="Position[0]">
                    Tên người dùng
                    <nz-avatar nzIcon="user" style="background-color:#dedee2;"></nz-avatar>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item>Tài khoản</li>
                            <li nz-menu-item>Cài đặt</li>
                            <li nz-menu-item (click)="logout()">Đăng xuất</li>
                        </ul>
                    </nz-dropdown-menu>
                </button>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>

<app-spinner *ngIf="loading$ | async"></app-spinner>