<div class="app-group">
    <div nz-row class=" border-top">
        <div nz-col nzSpan="5" class="header-page border-right">
            <nz-tabset style="margin-left: 0px" [nzTabBarExtraContent]="extraTemplate" *ngIf="this.isShowHeader">
                <nz-tab nzTitle="Tất cả">
                    <nz-collapse nzAccordion nzExpandIconPosition="right" [nzBordered]="false" class="collapse-camera">
                        <nz-collapse-panel
                            [style.padding-left.px]="itemCam.LIST_CAMERA && itemCam.LIST_CAMERA.length > 0 ?  0  :  4 "
                            [nzShowArrow]="itemCam.LIST_CAMERA && itemCam.LIST_CAMERA.length > 0 ? true : false "
                            *ngFor="let itemCam of listCameras" [nzHeader]="itemCam.WAREHOUSE_NAME" class="tab-camera">
                            <div style="margin: 0px" *ngIf="itemCam.LIST_CAMERA && itemCam.LIST_CAMERA.length > 0">
                                <ul nz-menu class="menu-tab-camera">
                                    <li nz-menu-item *ngFor="let item of itemCam.LIST_CAMERA"
                                        (click)="renderCamera(item)" class="d-flex item-child-cam "
                                        style="align-items: center; gap: 5px;">
                                        <div class="circle-online" *ngIf="item?.STATUS == 'On' ">
                                            <svg class="circle-icon-online" viewBox="0 0 24 24" width="24"
                                                height="24"></svg>
                                        </div>
                                        <div class="circle-off" *ngIf="item?.STATUS == 'Off' ">
                                            <svg class="circle-icon-off" viewBox="0 0 24 24" width="24"
                                                height="24"></svg>
                                        </div>
                                        <div class="name-cam">
                                            {{ item.NAME_CAM }}
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </nz-collapse-panel>
                    </nz-collapse>

                    <nz-empty *ngIf="listCameras?.length && !listCameras[0].WAREHOUSE_CODE"
                        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                        [nzNotFoundContent]="contentTpl">
                        <ng-template #contentTpl>
                            <strong>
                                Trống
                            </strong>
                            <p>Danh sách Camera trống.</p>
                        </ng-template>
                    </nz-empty>

                </nz-tab>
                <nz-tab nzTitle="Nhóm">
                    <b>Nhóm</b>
                </nz-tab>
            </nz-tabset>
            <div *ngIf="!this.isShowHeader">
                <div class="border-bottom " style="padding: 0.4rem;">
                    <button nz-button nzType="text" (click)="openSortCamera(!isShowHeader)"
                        style="font-weight: 600; font-size: 16px; font-style: normal;">
                        <span nz-icon nzType="left" nzTheme="outline"></span> Bộ lọc
                    </button>
                </div>
                <div>
                    <form *ngIf="formDataParamSort" nz-form [formGroup]="formDataParamSort" (ngSubmit)="handleSort()">

                        <nz-form-item class="select-custom">
                            <nz-form-control [nzSm]="24" [nzXs]="48">
                                <nz-input-group>
                                    <p nzFor="email" class="lable-select">Nhóm người dùng</p>
                                    <nz-select ngModel="ALL" nzBorderless formControlName="GROUP_CAMERA"
                                        style="padding: 0; margin: 0px">
                                        <nz-option nzValue="ALL" nzLabel="Tất cả"></nz-option>
                                        <nz-option nzValue="1" nzLabel="1"></nz-option>
                                    </nz-select>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>


                        <nz-form-item class="select-custom">
                            <nz-form-control [nzSm]="24" [nzXs]="48">
                                <nz-input-group>
                                    <p nzFor="email" class="lable-select">Tỉnh</p>
                                    <nz-select ngModel="ALL" nzBorderless formControlName="GROUP_CAMERA"
                                        style="padding: 0; margin: 0px">
                                        <nz-option nzValue="ALL" nzLabel="Tất cả"></nz-option>
                                        <nz-option nzValue="1" nzLabel="1"></nz-option>
                                    </nz-select>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>


                        <nz-form-item class="select-custom">
                            <nz-form-control [nzSm]="24" [nzXs]="48">
                                <nz-input-group>
                                    <p nzFor="email" class="lable-select">Huyện</p>
                                    <nz-select ngModel="ALL" nzBorderless formControlName="GROUP_CAMERA"
                                        style="padding: 0; margin: 0px">
                                        <nz-option nzValue="ALL" nzLabel="Tất cả"></nz-option>
                                        <nz-option nzValue="1" nzLabel="1"></nz-option>
                                    </nz-select>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>


                        <nz-form-item class="select-custom">
                            <nz-form-control [nzSm]="24" [nzXs]="48">
                                <nz-input-group>
                                    <p nzFor="email" class="lable-select">Xã</p>
                                    <nz-select ngModel="ALL" nzBorderless formControlName="GROUP_CAMERA"
                                        style="padding: 0; margin: 0px">
                                        <nz-option nzValue="ALL" nzLabel="Tất cả"></nz-option>
                                        <nz-option nzValue="1" nzLabel="1"></nz-option>
                                    </nz-select>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>


                        <nz-form-item class="select-custom">
                            <nz-form-control [nzSm]="24" [nzXs]="48">
                                <nz-input-group>
                                    <p nzFor="email" class="lable-select">Trạng thái</p>
                                    <nz-select ngModel="ALL" nzBorderless formControlName="GROUP_CAMERA"
                                        style="padding: 0; margin: 0px">
                                        <nz-option nzValue="ALL" nzLabel="Tất cả"></nz-option>
                                        <nz-option nzValue="1" nzLabel="1"></nz-option>
                                    </nz-select>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>


                        <button nz-button nzType="primary" (click)="openSortCamera(!isShowHeader)" style="width: 100%; height: 60px">
                            Áp dụng
                        </button>


                    </form>
                </div>
            </div>
            <ng-template #extraTemplate>
                <div class="d-flex gap-1" style="font-size: 23px;">
                    <div>
                        <button nz-button nzType="text" (click)="openSortCamera(!isShowHeader)">
                            <span nz-icon nzType="search" nzTheme="outline"></span>
                        </button>
                    </div>
                    <div>
                        <span nz-icon nzType="sliders" nzTheme="outline"></span>
                    </div>
                </div>
            </ng-template>

        </div>

        <div nz-col nzSpan="19" class="header-page">
            <div class="d-flex gap-2 border-bottom border-right "
                style="justify-content: space-between; padding: 0.5px 0px">
                <div class="d-flex gap-2 " style="padding: 10px">
                    <div>
                        <b>Xem trực tiếp</b>
                    </div>
                    <div>
                        <span>Tổng lượt xem: <strong>1.256</strong></span>
                    </div>
                    <div>
                        <span>Đã sử dụng: <strong>22</strong> </span>
                    </div>
                </div>

                <div class="d-flex gap-2 " style="padding: 10px">
                    <div class="d-flex gap-2">
                        <span>Số màn hình</span>
                        <div class="d-flex gap-1 qty-screen">
                            <button nz-button nzType="default" nzSize="small" nzShape="circle">1</button>
                            <button nz-button nzType="default" nzSize="small" nzShape="circle">2</button>
                            <button nz-button nzType="default" nzSize="small" nzShape="circle">3</button>
                            <button nz-button nzType="default" nzSize="small" nzShape="circle">4</button>
                            <button nz-button nzType="default" nzSize="small" nzShape="circle">5</button>
                        </div>
                    </div>
                    <div>
                        <span>Toàn màn hình <span nz-icon nzType="expand" nzTheme="outline"></span> </span>
                    </div>
                </div>
            </div>
            <div *ngIf="isShowCamera">
                <div class="d-flex gap-2 border-right"
                    style="padding: 5px; justify-content: space-between; background: #000000; color: #ffff">
                    <div class="d-flex gap-1">
                        <div class="circle-online" *ngIf="isShowCamera?.STATUS == 'On'">
                            <svg class="circle-icon-online" viewBox="0 0 24 24" width="24" height="24"></svg>
                        </div>
                        <div class="circle-off" *ngIf="isShowCamera?.STATUS == 'Off' ">
                            <svg class="circle-icon-off" viewBox="0 0 24 24" width="24" height="24"></svg>
                        </div>
                        <div>
                            <span>{{ isShowCamera?.NAME_CAM ? isShowCamera?.NAME_CAM : 'Camera default' }}</span>
                        </div>
                    </div>

                    <div>
                        <span nz-icon nzType="more" nzTheme="outline" style="font-size: 23px;"></span>
                    </div>
                </div>
                <img style="width: 100%" src="../../assets/images/CAMERA.png" alt="">
            </div>

            <nz-empty *ngIf="!isShowCamera"
                nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                [nzNotFoundContent]="contentTpl">
                <ng-template #contentTpl>
                    <strong>
                        Trống
                    </strong>
                    <p>Vui lòng chọn 1 Camera để hiển thị</p>
                </ng-template>
            </nz-empty>

            <div class="center-mode p-10" *ngIf="isShowCamera">
                <nz-pagination [nzPageIndex]="1" [nzTotal]="50" [nzSize]="'small'"></nz-pagination>
            </div>
        </div>
    </div>

</div>